.main {
    background: white;
    margin: auto 450px auto 450px;
    border: white;
    border-radius: 10px;
    height: 550px !important;
    font-family: cursive;
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
